aiohttp==0.21.5
alembic==0.8.4
asyncio_utils==0.0.4
beautifulsoup4==4.3.2
boto==2.48.0
boto3==1.6.7
cairocffi==0.7.2
corona-analytics-client==0.0.1
cffi==1.2.1
chardet==3.0.2
checkbox-ng==0.3.1
checkbox-support==0.2
error-calculations==0.0.1
kafka-utils==0.0.2
lj-date-utils==0.0.6
lj-clients==1.0.5
luigi_utils==0.0.9
luigi==2.7.3
lxml==3.4.2
mailchimp3==2.0.18
Mako==1.0.0
MarkupSafe==0.23
marshmallow==2.13.5
mq_utils==0.4.5
nose==1.3.7
oauthlib==0.6.1
openpyxl==2.2.6
owl-data-analytics-client==1.0.0
paramiko==1.16.0
pexpect==3.2
Pillow==2.7.0
piston-mini-client==0.7.5
psycopg2==2.7.1
pycparser==2.14
pycrypto==2.6.1
pyexcel-io==0.2.0
pyexcel-xls==0.2.0
pyparsing>=2.0.3
pyramid_mailer==0.14.1
pysftp==0.2.8
python-dateutil==2.6.0
python_docx==0.8.6
pytz==2018.3
pyxdg==0.25
reportlab==3.1.44
requests>=2.10
responses==0.8.1
seaborn==0.7.1
six>=1.9.0
SQLAlchemy==1.0.8
tailer==0.4.1
taskmaster_client==0.1.2
wheel==0.24.0
XlsxWriter==0.8.4
zope.sqlalchemy==0.7.6
pytest==3.1.3
pytest-cov==2.5.1
WebTest==2.0.27
mock==2.0.0
ddt==1.1.1

